.body-tag {
  background-color: rgba(209, 190, 190, 0.35);
  background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(209,190,190,0.5) 80%, rgba(209,190,190,0.5) 25%), url('dimension.png');
}

/* header styling */
.header-container {
  background: rgba(50, 50, 50, 0.7);
  width: 60%;
  padding: 25px 0;
  margin: 0 auto;
  color: #eee;
  font-size: 22px;
}

/* form styling */
.form-container {
  background: rgba(50, 50, 50, 0.2);
  min-height: 100vh;
  width: 60%;
  font-weight: bold;
  margin: 0 auto;
  padding: 10px 50px;
}
.form-heading {
  font-size: 20px;
  font-weight: bold;
  padding: 15px 0;
}

/* calendar */
.prescription-calendar {
  font-weight: bold;
}

/* number of medicine */
.medicine-input {
  margin: 5px 0;
  padding-right: 20px !important;
}

/* START checkbox and radio styling */
.prescription-time {
  display: inline-block;
  margin-top: 5px;
  border-radius: 5px;
}
.squaredThree {
  position: relative;
  margin: 7px 0;
}

/* START dosage time checkbox styling */
.checkbox-label {
  width: 15px;
  height: 15px;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  border: 1px solid #777;
}
.checkbox-label:after {
  content: '';
  width: 9px;
  height: 6px;
  position: absolute;
  top: 2px;
  left: 2px;
  border: 3px solid #222;
  border-top: none;
  border-right: none;
  background: transparent;
  opacity: 0;
  transform: rotate(-45deg);
}
.checkbox-label:hover::after {
  opacity: 0.3;
}
input[type=checkbox] {
  visibility: hidden;
}
input[type=checkbox]:checked + .checkbox-label:after {
  opacity: 1;
}
/* END dosage time checkbox styling */

/* START dosage quantity radio styling */
.prescription-quantity-radio-label {
  width: 15px;
  height: 15px;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  border: 1px solid #777;
  border-radius: 10px;
}
.prescription-quantity-radio-label:after {
  content: '';
  width: 9px;
  height: 9px;
  position: absolute;
  top: 2px;
  left: 2px;
  border: 3px solid #222;
  border-radius: 10px;
  background: transparent;
  opacity: 0;
}
.prescription-quantity-radio-label:hover::after {
  opacity: 0.3;
}
input[type=radio] {
  visibility: hidden;
}
input[type=radio]:checked + .prescription-quantity-radio-label:after {
  opacity: 1;
}
/* END dosage quantity radio styling */

.prescription-time-text, .recurrence-text{
  position: absolute;
  width: 100%;
  left: 2em;
  bottom: -3px;
  color: #000;
  font-size: 16px;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
}
/* END checkbox and radio styling */

.font16 {
  font-size: 16px;
}
.margin-top {
  margin-top: 10px;
}
.hidden {
  display: none;
}
/* buttons */
.buttons-row {
  margin: 20px 0;
}
/* input color labels */
.color-label:after {
  content: '';
  width: 12px;
  height: 12px;
  margin-top: -27px;
  margin-right: 5px;
  border-radius: 10px;
  float: right;
}
.color-label1:after {
  background-color: #FF6565;
  border: 1px solid #DF4444;
}
.color-label2:after {
  background-color: #FFFE03;
  border: 1px solid #F6F101;
}
.color-label3:after {
  background-color: #01BB01;
  border: 1px solid #019715;
}

#login-container {
  position: fixed;
  top: 0;
  left: 30%;
}
#medicine-form {
  display: none;
}


/* Logo styling */
.ardumed-logo-container {
  height: auto;
  margin: 100px 0 50px;
}
.ardumed-logo {
  height: 400px;
}

/* Login button styling */
.login-button {
  background-color: #DC4E41;
  color: #fff;
}
.login-button:hover {
  background-color: #E47166;
}
.login-button:hover .login-button-text{
  color: #fff;
}
.google-login-icon {
  color: #fff;
  padding-right: 10px;
}
